@import url(/CSS/animation/button-animation.css);

* {
    font-family: monospace;
    background-color: #010409;
    color: #ffffff;
    margin: 0;
    text-decoration: none;
}

.title {
    display: flex;
    height: 95vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title p {
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(21) forwards, blink 1s step-end infinite;
}

.footer {
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    & a {
        margin: 1.5rem;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}