button {
    border: 2px solid #fff;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 4px 4px #fff;
    transition: all 0.2s;

    &:hover {
        box-shadow: 2px 2px #fff;
        transform: translate(2px, 2px);
      }
    
      &:active {
        box-shadow: none;
        transform: translate(4px, 4px);
      }
}