@import url(/CSS/animation/button-animation.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.my-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 70%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 25%;
  /* Each item takes up 25% of the container (4 items per row) */
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  /* Prevents items from shrinking */
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

button {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  padding: 4px;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}